.top-5 {
  padding-top: 5px;
}

.top-10 {
  padding-top: 10px;
}

.top-20 {
  padding-top: 20px;
}

.top-30 {
  padding-top: 30px;
}

.top-40 {
  padding-top: 40px;
}

.top-60 {
  padding-top: 60px;
}

.top-80 {
  padding-top: 80px;
}

.top-100 {
  padding-top: 100px;
}
